# Flask
DATA_INFRASTRUCTURE_FLASK_HOST=0.0.0.0
DATA_INFRASTRUCTURE_FLASK_PORT=5000
FLASK_APP=app.py
FLASK_ENV=development #or production
FLASK_DEBUG=True

POSTGRES_USER=sc3_postgres_user
POSTGRES_PASSWORD=sc3_postgres_password
POSTGRES_DB=sc3_database

CONTAINERIZED=False
CONTAINER_NAME=postgres_sc3_backend


ADMIN_ADDRESS=terminology-service@tib.eu
ADMIN_SECRET=admin


# We have two modes when we build this application
# mode 1 is when we use it in docker-compose, thus it will use the container name as the domain for postgres
# mode 2 is when we have a postgres running as a container and want to start this application locally on the system
# e.g., running python3 app.py
# app_factory has a function setup_sqlalchemy_uri(...)
# this function will try to build the uri if you dont provide one, and based on the flag containerized it will build one.


# KEEP EMPTY TO TELL THE SYSTEM TO DO IT AUTOMATICALLY BASED ON THE FLAGS
SQLALCHEMY_DATABASE_URI=

SQLALCHEMY_TRACK_MODIFICATIONS=False


